
<div ng-controller="loginController1 as loginCtrl">
        <form name="loginForm" ng-submit="submit()" novalidate>
                <!-- <br/>
                <br/>
                <br/>
                <b>User Name:</b> 
                <input id= "uname1" type="text"/>
                <br/>
                <br/>
                <b>Password:</b> 
                <input id= "pword1" type="text"/> -->
            <br/>
            <br/>
            <br/>
            <br/>
            <b>User Name:</b> 
            <input type="text" id= "uname" name="uname" ng-model="uname" required ng-minlength="4"> 
            <span ng-show="loginForm.uname.$error.required">This is required! </span>
            <span ng-show="loginForm.uname.$error.minlength">Minimum length is 3 </span>
            <span ng-show="loginForm.uname.$error.maxlength">Maximum length is 8 </span>
            <span ng-show="loginForm.uname.$invalid">Invalid field</span><br><br>

            <b>Password:</b> 
            <input type="text" id= "password" name="password" ng-model="password" required ng-minlength="4"> 
            <span ng-show="loginForm.password.$error.required">This is required! </span>
            <span ng-show="loginForm.password.$error.minlength">Minimum length is 5 </span>
            <span ng-show="loginForm.password.$error.maxlength">Maximum length is 10 </span>
            <span ng-show="loginForm.password.$invalid">Invalid field</span><br><br>

            <br/>
            <br/>
            <input ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
        </form>

        <p>{{ answer }} </p>
        
        <p>{{ records }}</p>


    </div>

<p>{{ records }}</p>